In [1]:
import FinanceDataReader as fdr
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

def getCloseData(ticker, start, end=None):
    """
    종가 데이터
    ticker: 종목 번호
    start: 시작일
    end: 마지막 날짜
    return: 종목의 종가 데이터
    """
    return fdr.DataReader(ticker, start, end)['Close']

def getDayReturn(closeDataSet):
    """
    개별종목 일별 수익률
    closeDataSet: 종가 데이터
    return: 종가 데이터의 일별 수익률
    """
    return (closeDataSet / closeDataSet.shift(1)).fillna(1)

def getCumulativeReturn(closeDataSet):
    """
    개별종목 누적수익률 == 자산흐름
    closeDataSet: 종가 데이터
    return:종가데이터 누적수익률
    """
    return closeDataSet / closeDataSet.iloc[0]

def getPortfolioResult(closeDataSet, weight=None):
    """
    포트폴리오 결과
    closeDataSet: 종가 데이터
    weight: 포트폴리오 개별자산 비중
    return: 포트폴리오 일간수익률, 누적수익률
    """
    # 개별종목 일별 수익률
    dayReturn = getDayReturn(closeDataSet)
    # 개별종목 누적 수익률
    cumulativeReturn = getCumulativeReturn(closeDataSet)
    # 자산별 비중. 기본값: 동일비중
    if not weight:
        weight = [1/len(closeDataSet.columns)] * len(closeDataSet.columns)
        
    # 포트폴리오 누적 수익률
    portfolioCumulativeReturn = (weight * cumulativeReturn).sum(axis=1)
    # 포트폴리오 일별 수익률
    portfolioDayReturn = (portfolioCumulativeReturn / portfolioCumulativeReturn.shift(1)).fillna(1)    
    return portfolioDayReturn, portfolioCumulativeReturn

def getEvaluation(cumulativeReturn):
    """
    cagr, dd, mdd
    투자 성과 지표
    """
    # cagr
    cagr = cumulativeReturn.iloc[-1] ** (252/len(cumulativeReturn))
    # mdd
    dd = (cumulativeReturn.cummax() - cumulativeReturn) / cumulativeReturn.cummax() * 100
    mdd= dd.max()
    
    print(f"최종 수익률: {cumulativeReturn.iloc[-1]}\ncagr: {cagr}\nmdd: {mdd}")

    return cagr, dd, mdd

def getRebalancingDate(closeDataSet, period="month"):
    """
    리밸런싱 일자 추출
    월별, 분기별, 연별
    """
    data = closeDataSet.copy()
    data = pd.DataFrame(data)
    data.index = pd.to_datetime(data.index)
    data['year'] = data.index.year
    data['month'] = data.index.month
    
    if period == "month":
        rebalancingDate = data.drop_duplicates(['year', 'month'], keep="last").index
        
    if period == "quarter":
        # 3 6 9 12월 말에 리밸런싱
        # np where 같은걸로 3, 6, 9, 12월 데이터만 가져오고
        # drop_duplicates keep last 하면 됌
        quarter = [3,6,9,12]
        data = data.loc[data['month'].isin(quarter)]
        rebalancingDate = data.drop_duplicates(['year', 'month'], keep="last").index
    
    if period == "year":
        rebalancingDate = data.drop_duplicates(['year'], keep="last").index
        
    return rebalancingDate

def getRebalancingPortfolioResult(closeDataSet, period = "month", weightDf=None):
    """
    리밸런싱 포트폴리오 결과
    closeDataSet: 종가 데이터
    weight: 포트폴리오 개별자산 비중
    return: 포트폴리오 일간수익률, 누적수익률
    """
    
    # 자산별 비중. 기본값: 동일비중
    if weightDf is None:
        rebalancingDate = getRebalancingDate(closeDataSet, period) # 리밸런싱 날짜
        weightDf = pd.DataFrame([[1/len(closeDataSet.columns)] * len(closeDataSet.columns)] * len(rebalancingDate),
                              index=rebalancingDate,
                              columns=closeDataSet.columns)
    # 자산별 비중이 있는 경우
    else:
        closeDataSet = closeDataSet.loc[weightDf.index[0]:]
        rebalancingDate = getRebalancingDate(closeDataSet, period) # 리밸런싱 날짜
      
    portfolio = pd.DataFrame() # 빈 데이터 프레임 생성

    totalAsset = 1 # 총 자산, 초기값 1
    start = rebalancingDate[0] # 리밸런싱 날짜, 초기값 첫 투자일

    for end in rebalancingDate[1:]:
        weight = weightDf.loc[start] # 당월 리밸런싱 비율
        priceData = closeDataSet.loc[start:end] # 당월 가격 데이터
        cumReturn = getCumulativeReturn(priceData) # 당월 누적 수익률
        weightedCumReturn = weight * cumReturn # 당월 리밸런싱 비율이 반영된 누적 수익률
        netCumReturn = totalAsset * weightedCumReturn # 전월 투자 결과 반영

        start = end # start 갱신
        totalAsset = netCumReturn.iloc[-1].sum() # 총 자산 갱신
        portfolio = pd.concat([portfolio, netCumReturn]) # 매월 데이터 추가
    
    portfolio = portfolio.loc[~portfolio.index.duplicated(keep='last')] # 중복 데이터 제거
    portfolioCumulativeReturn = portfolio.sum(axis=1) # 포트폴리오 누적 수익률
    portfolioDayReturn = (portfolioCumulativeReturn / portfolioCumulativeReturn.shift(1)).fillna(1) # 포트폴리오 일간 수익률
    
    return portfolioDayReturn, portfolioCumulativeReturn

def getWeightByAvgMomentumScore(closeDataSet, n = 12):
    """
    평균 모멘텀 스코어를 기반으로 한 투자 비중 구하기
    closeDataSet: 종가 데이터
    n: 모멘텀 기간 1~n
    return: 투자비중 weight df, 평균모멘텀 스코어 df
    """
    avgMomentumScore = 0 # 평모스 초기값
    priceOnRebalDate = closeDataSet.loc[getRebalancingDate(closeDataSet)] # 리밸런싱 일자의 가격 데이터
    
    # 1 ~ n개월 모멘텀 스코어 합
    for i in range(1, n+1):
        avgMomentumScore = np.where(priceOnRebalDate / priceOnRebalDate.shift(i) > 1, 1, 0) + avgMomentumScore
        
    # 평모스 계산
    avgMomentumScore = pd.DataFrame(avgMomentumScore, index=priceOnRebalDate.index, columns=priceOnRebalDate.columns) # dataframe 형변환
    avgMomentumScore = avgMomentumScore / n
    
    # 모멘텀 스코어에 따른 weight 계산
    weight = avgMomentumScore.divide(avgMomentumScore.sum(axis=1), axis=0).fillna(0)
    # 투자 비중이 모두 0인 구간에서는 현금 보유
    weight['cash'] = np.where(weight.sum(axis=1) == 0, 1, 0)
    
    # 투자비중, 평모스 리턴
    return weight, avgMomentumScore

## VAA

투자전략

https://www.youtube.com/watch?v=eQeu8v_-Y98

---

1. 공격자산, 수비자산 설정.

공격자산 : SPY(미국주식), VEA(선진국 주식), EEM(이머징 주식), AGG(미국 총채권)

수비자산 : LQD(미국 회사채), SHY(미국 단기국채), IEF(미국 중기국채)

2. 모멘텀 스코어를 구한다.

`모멘텀 = (현재 주가 / n개월 전 주가) - 1`

(최근 1개월 수익률x12) + (최근 3개월 수익률x4) + (최근 6개월 수익률x2) + (최근 12개월 수익률x1)

3. 공격자산 4개 모멘텀 스코어가 전부 0 이상일 경우 가장 모멘텀스코어가 높은 공격자산에 올인


4. 공격자산 중 하나라도 모멘텀스코어가 0 이하일 경우 가장 모멘텀스코어가 높은 수비자산에 올인

In [2]:
closeDataSet = pd.read_csv("동적자산배분데이터.csv", index_col=0, parse_dates=True)

In [3]:
vaaCol = ['SPY', "VEA", "EEM", "AGG", "LQD", "SHY", "IEF"]
vaaAttack = ['SPY', "VEA", "EEM", "AGG"]
vaaDefense = ["LQD", "SHY", "IEF"]
vaaData = closeDataSet[vaaCol]
vaaData

,SPY,VEA,EEM,AGG,LQD,SHY,IEF
2009-01-02,72.54897,19.22968,20.46180,74.28091,63.88389,74.71815,75.41508
2009-01-05,72.46313,18.94444,20.72774,75.46452,64.32201,74.86900,75.28307
2009-01-06,72.94700,19.11141,21.19705,75.04128,64.42996,74.90449,75.23648
2009-01-07,70.76178,18.88182,19.97685,74.35264,63.89024,74.85125,75.25201
2009-01-08,71.05054,19.10445,19.89081,73.78593,64.34741,74.86900,75.45390
...,...,...,...,...,...,...,...
2022-06-27,388.59000,41.50000,40.70000,100.60000,109.08000,82.55000,100.58000
2022-06-28,380.65000,41.28000,40.45000,100.64000,109.05000,82.53000,100.71000
2022-06-29,380.34000,41.03000,40.29000,101.22000,109.70000,82.63000,101.52000
2022-06-30,377.25000,40.80000,40.10000,101.68000,110.03000,82.79000,102.30000
2022-07-01,381.24000,40.89000,39.85000,102.34000,111.12000,82.96000,103.24000

In [4]:
# 모멘텀 스코어를 구하기
# (최근 1개월 수익률x12) + (최근 3개월 수익률x4) + (최근 6개월 수익률x2) + (최근 12개월 수익률x1)


rebalDate = getRebalancingDate(vaaData) # 리밸런싱 매월 말 날짜
vaaDataOnRebalDate = vaaData.loc[rebalDate] # 매월 말 가격 데이터

momentum1 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(1) -1 # 1개월 모멘텀
momentum3 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(3) - 1 # 3개월 모멘텀
momentum6 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(6) -1 # 6개월 모멘텀
momentum12 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(12) -1 # 12개월 모멘텀

momentumScore = 12*momentum1 + 4*momentum3 + 2*momentum6 + momentum12 # 모멘텀 스코어
momentumScore.dropna(inplace=True)
momentumScore

,SPY,VEA,EEM,AGG,LQD,SHY,IEF
2010-01-29,0.256459,-0.185312,0.054335,0.335850,0.385464,0.151217,0.265636
2010-02-26,1.141328,0.521449,1.182111,0.139194,0.289896,0.060500,-0.022881
2010-03-31,1.685561,1.412348,1.942017,0.154736,0.397659,0.014054,-0.134470
2010-04-30,1.331963,0.237224,1.122214,0.274673,0.614363,0.070622,0.239552
2010-05-28,-0.772358,-1.921973,-1.154029,0.323254,0.045539,0.104322,0.578877
...,...,...,...,...,...,...,...
2022-03-31,0.464272,-0.288624,-1.066162,-0.786107,-0.963597,-0.371985,-0.939348
2022-04-29,-1.605514,-1.556771,-1.812172,-1.095091,-1.749928,-0.268668,-1.169049
2022-05-31,-0.390895,-0.285892,-0.749855,-0.469534,-0.542052,-0.082974,-0.565008
2022-06-30,-2.225870,-2.454003,-1.793351,-0.743309,-1.340754,-0.210631,-0.644808
2022-07-01,-0.607585,-0.864583,-0.909459,-0.231929,-0.375726,-0.057717,-0.161132

In [23]:
# 공격자산 4개 모멘텀 스코어가 전부 0 초과일 경우 가장 모멘텀스코어가 높은 공격자산에 몰빵
# 공격자산 중 하나라도 모멘텀스코어가 0 이하일 경우 가장 모멘텀스코어가 높은 수비자산에 몰빵

momentumScore[vaaAttack] > 0

              SPY    VEA    EEM    AGG
2010-01-29   True  False   True   True
2010-02-26   True   True   True   True
2010-03-31   True   True   True   True
2010-04-30   True   True   True   True
2010-05-28  False  False  False   True
...           ...    ...    ...    ...
2022-03-31   True  False  False  False
2022-04-29  False  False  False  False
2022-05-31  False  False  False  False
2022-06-30  False  False  False  False
2022-07-01  False  False  False  False

[151 rows x 4 columns]

In [6]:
isAttack = (momentumScore[vaaAttack] > 0).all(axis=1)
isAttack

2010-01-29    False
2010-02-26     True
2010-03-31     True
2010-04-30     True
2010-05-28    False
              ...
2022-03-31    False
2022-04-29    False
2022-05-31    False
2022-06-30    False
2022-07-01    False
Length: 151, dtype: bool

**pandas series type의 index, name, idxmax(), astype() 함수**

In [7]:
s = pd.Series([True, True, False], index=['a', 'b', 'c'], name="dummy series")
s

a     True
b     True
c    False
Name: dummy series, dtype: bool

In [8]:
s.index

Index(['a', 'b', 'c'], dtype='object')

In [9]:
s.name

'dummy series'

In [10]:
s.idxmax()

'a'

In [11]:
s.astype(int)

a    1
b    1
c    0
Name: dummy series, dtype: int32

**VAA 투자 비중 계산**

In [24]:
momentumScore

,SPY,VEA,EEM,AGG,LQD,SHY,IEF
2010-01-29,0.256459,-0.185312,0.054335,0.335850,0.385464,0.151217,0.265636
2010-02-26,1.141328,0.521449,1.182111,0.139194,0.289896,0.060500,-0.022881
2010-03-31,1.685561,1.412348,1.942017,0.154736,0.397659,0.014054,-0.134470
2010-04-30,1.331963,0.237224,1.122214,0.274673,0.614363,0.070622,0.239552
2010-05-28,-0.772358,-1.921973,-1.154029,0.323254,0.045539,0.104322,0.578877
...,...,...,...,...,...,...,...
2022-03-31,0.464272,-0.288624,-1.066162,-0.786107,-0.963597,-0.371985,-0.939348
2022-04-29,-1.605514,-1.556771,-1.812172,-1.095091,-1.749928,-0.268668,-1.169049
2022-05-31,-0.390895,-0.285892,-0.749855,-0.469534,-0.542052,-0.082974,-0.565008
2022-06-30,-2.225870,-2.454003,-1.793351,-0.743309,-1.340754,-0.210631,-0.644808
2022-07-01,-0.607585,-0.864583,-0.909459,-0.231929,-0.375726,-0.057717,-0.161132

In [29]:
def getVAAWegiht(row):
    vaaAttack = ['SPY', "VEA", "EEM", "AGG"]
    vaaDefense = ["LQD", "SHY", "IEF"]

#     print(row)
#     print(row.name) # series row의 name, 날짜
#     print(row.index) # series row의 index, 종목 ticker
       
    # 공격자산을 선택하는 경우,
    if isAttack[row.name]:
        # 공격자산 중 가장 모멘텀 스코어가 높은 종목에 몰빵
        result = pd.Series(row.index == row[vaaAttack].idxmax(), index=row.index, name=row.name).astype(int)
        return result
    
    # 수비자산을 선택하는 경우,
    # 수비자산 중 가장 모멘텀스코어가 높은 종목에 몰빵
    result = pd.Series(row.index == row[vaaDefense].idxmax(), index=row.index, name=row.name).astype(int)
    return result

vaaWeight = momentumScore.apply(getVAAWegiht, axis=1)
vaaWeight = vaaWeight.loc["2010-12-31":]
vaaWeight

            SPY  VEA  EEM  AGG  LQD  SHY  IEF
2010-12-31    0    0    0    0    0    1    0
2011-01-31    0    0    0    0    0    1    0
2011-02-28    0    1    0    0    0    0    0
2011-03-31    0    0    0    0    1    0    0
2011-04-29    0    1    0    0    0    0    0
...         ...  ...  ...  ...  ...  ...  ...
2022-03-31    0    0    0    0    0    1    0
2022-04-29    0    0    0    0    0    1    0
2022-05-31    0    0    0    0    0    1    0
2022-06-30    0    0    0    0    0    1    0
2022-07-01    0    0    0    0    0    1    0

[140 rows x 7 columns]

In [30]:
vaaDayReturn, vaaCumReturn = getRebalancingPortfolioResult(vaaData, weightDf=vaaWeight)
vaaCagr, vaaDD, vaaMDD = getEvaluation(vaaCumReturn)

최종 수익률: 2.394733182589685
cagr: 1.0789791587397892
mdd: 13.818934782696902

### VAA 비중 함수

In [14]:
def getVAAWeight(closeDataSet):
    vaaCol = ['SPY', "VEA", "EEM", "AGG", "LQD", "SHY", "IEF"]
    vaaAttack = ['SPY', "VEA", "EEM", "AGG"]
    vaaDefense = ["LQD", "SHY", "IEF"]
    vaaData = closeDataSet[vaaCol]
    
    # 모멘텀 스코어를 구하기
    # (최근 1개월 수익률x12) + (최근 3개월 수익률x4) + (최근 6개월 수익률x2) + (최근 12개월 수익률x1)
    rebalDate = getRebalancingDate(vaaData)
    vaaDataOnRebalDate = vaaData.loc[rebalDate]

    momentum1 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(1) -1
    momentum3 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(3) - 1
    momentum6 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(6) -1
    momentum12 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(12) -1

    momentumScore = 12*momentum1 + 4*momentum3 + 2*momentum6 + momentum12
    momentumScore.dropna(inplace=True)
    
    # 공격자산 4개 모멘텀 스코어가 전부 0 초과일 경우 가장 모멘텀스코어가 높은 공격자산에 몰빵
    # 공격자산 중 하나라도 모멘텀스코어가 0 이하일 경우 가장 모멘텀스코어가 높은 수비자산에 몰빵
    isAttack = (momentumScore[vaaAttack] > 0).all(axis=1)
    vaaWeight = momentumScore.apply(applyGetVAAWegiht, axis=1, args=(isAttack,))
    
    return vaaWeight
    
def applyGetVAAWegiht(row, isAttack):
    vaaAttack = ['SPY', "VEA", "EEM", "AGG"]
    vaaDefense = ["LQD", "SHY", "IEF"]
    
    if isAttack[row.name]:
        # 공격자산 중 가장 모멘텀 스코어가 높은 종목에 몰빵
        return pd.Series(row.index == row[vaaAttack].idxmax(), index=row.index, name=row.name).astype(int)

    # 수비자산 중 가장 모멘텀스코어가 높은 종목에 몰빵
    return pd.Series(row.index == row[vaaDefense].idxmax(), index=row.index, name=row.name).astype(int)

In [15]:
getVAAWeight(closeDataSet)

            SPY  VEA  EEM  AGG  LQD  SHY  IEF
2010-01-29    0    0    0    0    1    0    0
2010-02-26    0    0    1    0    0    0    0
2010-03-31    0    0    1    0    0    0    0
2010-04-30    1    0    0    0    0    0    0
2010-05-28    0    0    0    0    0    0    1
...         ...  ...  ...  ...  ...  ...  ...
2022-03-31    0    0    0    0    0    1    0
2022-04-29    0    0    0    0    0    1    0
2022-05-31    0    0    0    0    0    1    0
2022-06-30    0    0    0    0    0    1    0
2022-07-01    0    0    0    0    0    1    0

[151 rows x 7 columns]

In [16]:
vaaDayReturn, vaaCumReturn = getRebalancingPortfolioResult(closeDataSet=closeDataSet, weightDf=getVAAWeight(closeDataSet).loc["2010-12-31":])
vaaCagr, vaaDD, vaaMDD = getEvaluation(vaaCumReturn)

최종 수익률: 2.394733182589685
cagr: 1.0789791587397892
mdd: 13.818934782696902

방어자산에 현금을 추가한다면?

In [17]:
# 이렇게, 방어자산의 모멘텀이 모두 음수인 경우엔...
# 현금을 보유하는게 더 좋을 수도 있지 않을까?

In [18]:
def getVAAWeight(closeDataSet):
    vaaCol = ['SPY', "VEA", "EEM", "AGG", "LQD", "SHY", "IEF", "cash"]
    vaaAttack = ['SPY', "VEA", "EEM", "AGG"]
    vaaDefense = ["LQD", "SHY", "IEF", "cash"]
    vaaData = closeDataSet[vaaCol]
    
    # 모멘텀 스코어를 구하기
    # (최근 1개월 수익률x12) + (최근 3개월 수익률x4) + (최근 6개월 수익률x2) + (최근 12개월 수익률x1)
    rebalDate = getRebalancingDate(vaaData)
    vaaDataOnRebalDate = vaaData.loc[rebalDate]

    momentum1 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(1) -1
    momentum3 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(3) - 1
    momentum6 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(6) -1
    momentum12 = vaaDataOnRebalDate / vaaDataOnRebalDate.shift(12) -1

    momentumScore = 12*momentum1 + 4*momentum3 + 2*momentum6 + momentum12
    momentumScore.dropna(inplace=True)
    
    # 공격자산 4개 모멘텀 스코어가 전부 0 초과일 경우 가장 모멘텀스코어가 높은 공격자산에 몰빵
    # 공격자산 중 하나라도 모멘텀스코어가 0 이하일 경우 가장 모멘텀스코어가 높은 수비자산에 몰빵
    isAttack = (momentumScore[vaaAttack] > 0).all(axis=1)
    vaaWeight = momentumScore.apply(applyGetVAAWegiht, axis=1, args=(isAttack,))
    return vaaWeight
    
def applyGetVAAWegiht(row, isAttack):
    vaaAttack = ['SPY', "VEA", "EEM", "AGG"]
    vaaDefense = ["LQD", "SHY", "IEF", "cash"]
    
    if isAttack[row.name]:
        # 공격자산 중 가장 모멘텀 스코어가 높은 종목에 몰빵
        return pd.Series(row.index == row[vaaAttack].idxmax(), index=row.index, name=row.name).astype(int)

    # 수비자산 중 가장 모멘텀스코어가 높은 종목에 몰빵
    return pd.Series(row.index == row[vaaDefense].idxmax(), index=row.index, name=row.name).astype(int)

In [19]:
# vaaData에도 현금을 추가한다.
vaaDataWithCash = vaaData.copy()
vaaDataWithCash.loc[:,"cash"] = 1

In [20]:
# weight를 구하고 다시 성과를 측정한다.
weightWithCash = getVAAWeight(vaaDataWithCash)
weightWithCash = weightWithCash.loc["2010-12-31":]
weightWithCash

            SPY  VEA  EEM  AGG  LQD  SHY  IEF  cash
2010-12-31    0    0    0    0    0    1    0     0
2011-01-31    0    0    0    0    0    1    0     0
2011-02-28    0    1    0    0    0    0    0     0
2011-03-31    0    0    0    0    0    0    0     1
2011-04-29    0    1    0    0    0    0    0     0
...         ...  ...  ...  ...  ...  ...  ...   ...
2022-03-31    0    0    0    0    0    0    0     1
2022-04-29    0    0    0    0    0    0    0     1
2022-05-31    0    0    0    0    0    0    0     1
2022-06-30    0    0    0    0    0    0    0     1
2022-07-01    0    0    0    0    0    0    0     1

[140 rows x 8 columns]

In [21]:
vaaDayReturn, vaaCumReturn = getRebalancingPortfolioResult(vaaDataWithCash, weightDf=weightWithCash)
vaaCagr, vaaDD, vaaMDD = getEvaluation(vaaCumReturn)

최종 수익률: 2.3876169250028036
cagr: 1.078699679607651
mdd: 14.377168005522432