FinanceDataReader 설치와 간단한 사용법

https://financedata.github.io/posts/finance-data-reader-users-guide.html

금융 데이터 수집 라이브러리, 이 외에도 다른 라이브러리도 있지만, 사용하기 간편하고 백테스트하는데 무리없이 사용가능 함  

1. 이것 말고도 다양한 라이브러리가 존재한다.
2. 크롤링으로도 가져올 수 있고 여러 방법이 있지만,
3. 수업을 진행하면서는 finace data reader 라이브러리를 활용해볼 것이다.

In [3]:
pip install -U finance-datareader

Requirement already satisfied: finance-datareader in c:\anaconda\lib\site-packages (0.9.33)
Requirement already satisfied: requests>=2.3.0 in c:\anaconda\lib\site-packages (from finance-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.19.2 in c:\anaconda\lib\site-packages (from finance-datareader) (1.3.4)
Requirement already satisfied: requests-file in c:\anaconda\lib\site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: tqdm in c:\anaconda\lib\site-packages (from finance-datareader) (4.62.3)
Requirement already satisfied: lxml in c:\anaconda\lib\site-packages (from finance-datareader) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda\lib\site-packages (from pandas>=0.19.2->finance-datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\anaconda\lib\site-packages (from pandas>=0.19.2->finance-datareader) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\anaconda\lib\site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests>=2.3.0->finance-datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests>=2.3.0->finance-datareader) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\anaconda\lib\site-packages (from requests>=2.3.0->finance-datareader) (1.26.7)
Requirement already satisfied: colorama in c:\anaconda\lib\site-packages (from tqdm->finance-datareader) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import FinanceDataReader as fdr

In [2]:
# test
fdr.DataReader("005930", "2020") # 삼성전자 종목번호를 넣고 돌리기

             Open   High    Low  Close    Volume    Change
Date
2020-01-02  55500  56000  55000  55200  12993228 -0.010753
2020-01-03  56000  56600  54900  55500  15422255  0.005435
2020-01-06  54900  55600  54600  55500  10278951  0.000000
2020-01-07  55700  56400  55600  55800  10009778  0.005405
2020-01-08  56200  57400  55900  56800  23501171  0.017921
...           ...    ...    ...    ...       ...       ...
2022-06-03  67200  67300  66800  66800   8222883  0.001499
2022-06-07  66200  66400  65400  65500  19355755 -0.019461
2022-06-08  65400  65700  65300  65300  12483180 -0.003053
2022-06-09  65100  65200  64500  65200  25790725 -0.001531
2022-06-10  64000  64400  63800  63800  22022851 -0.021472

[603 rows x 6 columns]

In [3]:
# test
fdr.DataReader("SPY", "2020") # 삼성전자 종목번호를 넣고 돌리기

             Close    Open    High     Low       Volume  Change
Date
2020-01-02  324.87  323.54  324.89  322.53   59250000.0  0.0094
2020-01-03  322.41  321.16  323.64  321.10   77780000.0 -0.0076
2020-01-06  323.64  320.49  323.73  320.36   55760000.0  0.0038
2020-01-07  322.73  323.02  323.54  322.24   42850000.0 -0.0028
2020-01-08  324.45  322.94  325.78  322.67   68430000.0  0.0053
...            ...     ...     ...     ...          ...     ...
2022-06-06  411.79  414.78  416.61  410.55   57510000.0  0.0030
2022-06-07  415.74  408.10  416.22  407.61   58040000.0  0.0096
2022-06-08  411.22  413.93  415.82  410.38   64350000.0 -0.0109
2022-06-09  401.44  409.34  411.74  401.44   84580000.0 -0.0238
2022-06-10  389.80  394.88  395.78  389.75  130030000.0 -0.0290

[616 rows x 6 columns]